[phases.setup]
nixPkgs = [
    "php83",
    "php83Extensions.info",
    "php83Extensions.ctype",
    "php83Extensions.iconv",
    "php83Extensions.mbstring",
    "php83Extensions.pdo",
    "php83Extensions.pdo_pgsql",
    "php83Extensions.pdo_mysql",
    "php83Extensions.intl",
    "php83Extensions.xml",
    "php83Extensions.curl",
    "php83Extensions.zip",
    "php83Extensions.openssl",
    "php83Extensions.apcu",
    "php83Extensions.opcache",
    "composer",
    "nginx",
    "nodejs_20"
]

[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "php bin/console importmap:install",
    "php bin/console asset-map:compile"
]

[envs]
NIXPACKS_PHP_ROOT_DIR = "public"
