{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto p-4">
    <div data-controller="symfony--ux-vue--vue" data-symfony--ux-vue--vue-component-value="CarbonDashboard"></div>
</div>
{% endblock %}